* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, .6); 
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  margin-left: 80px;
}

.square {
  background: #1a95ae;
  border: 2px solid white;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 25vh;
  height: 25vh;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 25vh;
  color: white; 
  text-shadow: 3px 3px 3px rgba(0, 0, 0, .6);
  font-size: 8vh;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 15px;
  font-size: 10vh; 
  margin-top: 15px;
  box-shadow: 0 0 10px #1a95ae; 
  padding-left: 10px;
  padding-right: 10px;
  background-color: #1a95ae;
  color: white; 
}
.game {
  display: flex;
  flex-direction: row;
  border-top: 5px solid #1a95ae;
}

.game-info {
  margin-left: 20px;
}

.descText{
  background-color: #1a95ae;
  color: white; 
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, .6);
  font-size: 3vh;
}

#orderedLi{
  list-style-type: none;
}